
/*body blanco*/

.bodyBlanco{
    margin: 0;
    padding: 0;
    height: 100vh;
    background: rgb(255,255,255);
background: linear-gradient(190deg, rgba(255,255,255,1) 0%, rgba(236,236,236,1) 7%);
}
/*Tamaños imagenes*/


.imagen{
    height: 725px;
}

@media (max-width: 480px){

    .imagen{
        height: 500px;
    }
}



/* Barra de Navegación*/

.colorNav{
    background-color: rgba(0, 0, 0, 0.693);
}


.barraDegrade{
    background: linear-gradient(black,#212529);
}

.barraDegradeInversa{
    background: linear-gradient(#212529,black);
}



.barraFooter{
    background-color: black;
   padding: 5px;
   margin-top: 100px;
}


.marginUl{
    margin-left: 25%;
}

@media (max-width: 768px){

    .marginUl{
        margin-left: 0%;
    }
}

/* Catalogo*/
.centrarCatalogoh2{
    margin-top: 5%;
}

@media (max-width: 768px){

    .centrarCatalogoh2{
        margin-top: 10%;
    }
}

@media (max-width: 480px){

    .centrarCatalogoh2{
        margin-top: 20%;
    }
}


.catalogoMedida{
    width: 800px;
}



@media (max-width: 480px){

    .catalogoMedida{
       width: 200px;
    }
}
